<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %>,</h1>
    <p>
      <%= @attend.first_name %> <%= @attend.last_name %> s'est inscrit à ton événement <b><%= @event.title %></b>.
    </p>
    <p> À très vite sur rose!
  </body>
</html>